.App {
  text-align: center;
}

body {
  background-color: #3cadef;
}

img {
  width: 100%;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #3cadef;
}

.Card {
  background-color: #3cadef;
}

